venv
data
keras tutorial.ipynb
path_to_datafolder.txt
.DS_Store
../.DS_Store
data copy.zip
data copy/
models/
.ipynb_checkpoints/CNN_build-checkpoint.ipynb
.ipynb_checkpoints/CNN Build 2-checkpoint.ipynb
.ipynb_checkpoints/Data Preprocessing-checkpoint.ipynb
